@media screen {
    body {
        position: relative;
        width: 1200px;
        height: 2336px;
        background: #FFFFFF;
        margin: 0 auto; /* Center the body horizontally */
    }
    
}


.head {
    position: absolute;
    width: 1200px;
    height: 822px;
    left: 0px;
    top: -22px;
    background-color: #FFFFFF;
    background-image: url("../assert/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: #FFFFFF; 
}

ul{
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.project{
    position: absolute;
    width: 22px;
    height: 0px;
    right: 100px;
    top: 56.24px;
    
    border: 3px solid #FFFFFF;
}
.aboutUs{
    position: absolute;
    width: 22px;
    height: 0px;
    right: 100px;
    top: 49.62px;
    
    border: 3px solid #FFFFFF;
}
.stories{
    position: absolute;
    width: 22px;
    height: 0px;
    right: 100px;
    top: 43px;
    
    border: 3px solid #FFFFFF;
}

.prj{
    position: absolute;
    width: 91px;
    height: 16px;
    left: 152px;
    top: 45px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 16px;
    /* identical to box height, or 80% */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    }

.headline {
    position: absolute;
    width: 386px;
    height: 118px;
    left: 407px;
    top: 328px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

.logo {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 569px;
    top: 252px;
}

.header1 {
    position: absolute;
    width: 426px;
    height: 56px;
    left: 387px;
    top: 488px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.headline2 {
    position: absolute;
    width: 669px;
    height: 119px;
    left: 265px;
    top: 887px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;
}

.header2 {
    position: absolute;
    width: 426px;
    height: 57px;
    left: 387px;
    top: 1046px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #666666;
}

p {
    position: absolute;
    width: 983px;
    height: auto;
    left: 97px;
    top: 1151px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

article::before {
    content: "";
    position: absolute;
    width: 1200px;
    height: 700px;
    left: 0px;
    top: 800px;
    background: #EEEEEE;
}

.page3 {
    position: relative;
    width: 1200px;
    height: 666px;
    /* left: 0; (This line can be removed) */
    top: 1480px;
    background: 
    linear-gradient(rgba(140, 79, 42, 0.3), rgba(140, 79, 42, 0.3)),
    url("../assert/Mask Group.png"); 
}

.positioning {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.learnMoreButton {
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #39C2D7;
    color: #FFFFFF;
    font-size: 50px;
}

.header3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

footer {
    position: absolute;
    width: 1200px;
    height: 170px;
    left: 0;
    top: 2166px;
    background: #464547;
}

address {
    position: absolute;
    width: 174px;
    height: 33px;
    left: 500px;
    top: 51px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

.footerLogo {
    position: absolute;
    width: 200px;
    height: 16px;
    left: 140px;
    top: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline;
}

.email {
    position: absolute;
    width: 142px;
    height: 22px;
    left: 240px;
    top: 58px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

.email {
    position: absolute;
    width: 142px;
    height: 22px;
    left: -2px;
    top: 50px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    display: block;
}

.copyright {
    position: absolute;
    width: 243px;
    height: 20px;
    right: 140px;
    top: 80px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}
